@charset "UTF-8";

h3 {
	width:10%;
	padding: 15px 10px;
	margin-left: 230px;
	border-bottom: 3px solid #424951;
}

.table {
	width:70%; margin: 0 auto; 
	text-align: center;
}

.btn {
   color: #333;
    border: 1px solid #999;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    font-family: "맑은 고딕", 나눔고딕, 돋움, sans-serif;
    vertical-align: baseline;
}

.btn:active, .btn:focus, .btn:hover {
	background-color: #f8f9fa;
	color:#333;
}